
.sidebar {
  background-color: #232630;
  border-left: 1px solid #1a1d23;
  border-right: 1px solid #1a1d23;
}

.container {
  background-color: #232630;
  height: 100vh;
}
/* window #282c36
 border #232630*/
.main {
  border: none;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.input {
  color: #31DBC3;
  background-color: #282c36;
}

::-webkit-input-placeholder {
  color: #31DBC3;
}

.propInput {
  color: #31DBC3;
  background-color: #282c36;
}

.workspace {
  background-color: #282c36;
  border-left: 1px solid #1a1d23;
  border-right: 1px solid #1a1d23;
  width: 96%;
  height: 91.5vh;
  margin: auto;
  overflow-y: scroll;
  overflow-x: scroll;
}

hr {
  border-color: #1a1d23;
  margin-top: 15px;
  width: 75%;
}

.footer{
  background-color: #282c36;
  border: 1px solid #1a1d23;
  min-height: 30px;
  position: relative;
  width: 96%;
  margin: auto;
}

.backButton {
  position: absolute;
  background: #282c36;
  left: 5px;
  bottom: 4px;
}

.backButton:hover {
  cursor: pointer;
  opacity: 1;
}

.title {
  font-size: 14px;
  display: block;
  color: #31DBC3;
}

.boardContainer{
  height: 100%;
  width: 100%;
}

.squareContainer{
  margin-top: 100px;
  height: 500px;
}
.tab {
  color: #31DBC3;
}

.btn {
  background-color: #282c36 !important;
  margin: 2px 4px 0px 0px;
}
