@import './variables.scss';

.treeContainer {
  height: 45%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
.listContainer {
  height: 55%;
  display: flex;
  flex-direction: column;
}

.stateContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.container {
  width: 100%;
  height: 100%;
  background-color: #232630;
  overflow-y: auto;
  overflow-x: auto;
  flex-grow: 1;
}

.tabContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.deleteKey {
  width: 15px;
  height: 15px;
  text-align: center;
  font-size: 9px;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  background-color: $background-color-primary;
  color: $background-color-primary;
  border: 1px solid $border-color;
  border-radius: 50%;
  /*color: yellow;*/
}

.deleteKey:hover {
  background-color: #C72211;
  color: black;
}

.deleteKey:active {
  background-color: #232630;
  color: red;
}

.header{
  background-color: $background-color-primary;
  border-top: 1px solid $border-color;
  margin-bottom: 12px;
  min-height: 30px;
  position: relative;
}

.title {
  position: absolute;
  bottom: 3px;
  left: 15px;
  font-size: 14px;
  color: $primary-color;
  text-align: left;

}

.editField {
  display: inline-block;
  min-height: 25px;
  font-size: 13px;
  width: 25%;
  line-height: 1.6;
  background-color: #232630; /*$background-color-primary;*/
  /*border: 1px solid $border-color;*/
  border: none;
  border-radius: 4px;
  outline: none;
  color: $primary-color;
  /*border-bottom: 1px solid $border-color;*/
}
.editField:focus {
  width: 45%;
  overflow-wrap: normal;
}

.list {
  color: $primary-color;
  // border-bottom: 1px solid $border-color;
  border-bottom: 1px solid rgba(255, 255, 255, 0.31);
}

.list strong{
  width: 15px;
}

.list:hover {
  background-color: $background-color-primary;
}

.list:hover .editField {
  background-color: $background-color-primary;
}
