.treeContainer {
  height: 45%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
.listContainer {
  height: 55%;
  display: flex;
  flex-direction: column;
}

.stateContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.container {
  width: 100%;
  height: 100%;
  background-color: #232630;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-grow: 1;
}

.tabContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.deleteKey {
  width: 20px;
  height: 20px;
  text-align: center;
  float: right;
  margin-right: 10px;
  background-color: #282c36;
  border: 1px solid #1a1d23;
  border-radius: 5px;
  /*color: yellow;*/
}

.deleteKey:hover {
  background-color: #232630;
}

.deleteKey:active {
  background-color: #232630;
  color: red;
}

.header{
  background-color: #282c36;
  border: 1px solid #1a1d23;
  border-right: none;
  border-left: none;
  min-height: 30px;
  position: relative;
}

.title {
  position: absolute;
  bottom: 3px;
  left: 15px;
  font-size: 14px;
  color: #31DBC3;
  text-align: left;

}

.editField {
  display: inline-block;
  width: 50px;
  min-height: 25px;
  /*padding: 5px 10px;*/
  font-size: 13px;
  line-height: 1.6;
  background-color: #232630; /*#282c36;*/
  /*border: 1px solid #1a1d23;*/
  border: none;
  border-radius: 4px;
  outline: none;
  color: #31DBC3;
  /*border-bottom: 1px solid #1a1d23;*/
}

.list {
  color: #31DBC3;
  border-bottom: 1px solid #1a1d23;
}

.list:hover {
  background-color: #282c36;
}

.list:hover .editField {
  background-color: #282c36;
}
